.DS_Store
*.zip

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

**/__pycache__/
BattleShiptGame/game/migrations/__pycache__/__init__.cpython-311.pyc
BattleShiptGame/BattleShiptGame/__pycache__/asgi.cpython-311.pyc
BattleShiptGame/BattleShiptGame/__pycache__/settings.cpython-311.pyc
BattleShiptGame/BattleShiptGame/__pycache__/urls.cpython-311.pyc
BattleShiptGame/game/__pycache__/__init__.cpython-311.pyc
BattleShiptGame/game/__pycache__/admin.cpython-311.pyc
BattleShiptGame/game/__pycache__/apps.cpython-311.pyc
BattleShiptGame/game/__pycache__/consumers.cpython-311.pyc
BattleShiptGame/game/__pycache__/models.cpython-311.pyc
BattleShiptGame/game/__pycache__/routing.cpython-311.pyc
BattleShiptGame/game/__pycache__/urls.cpython-311.pyc
BattleShiptGame/game/__pycache__/views.cpython-311.pyc
BattleShiptGame/game/migrations/__pycache__/__init__.cpython-311.pyc
