{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'game/style/giocoPre.css' %}"> 
</head>
<body id="content" >
<div id="big">
   <h1 id="playerName" value={{playerName}}>{{playerName}}</h1>
    <div class="container">
        <!-- Left side: Table area -->
        <div class="aggiusta">
            <h2 id="PrepareBattle">Prepare your battle field</h2>
            <table id="droppable-table">
                <tbody>
                    {% for i in '0123456789'|make_list %}
                    <tr>
                        {% for j in '0123456789'|make_list %}
                            <td id="{{ i }}{{ j }}"></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="mm">
        <h2 id="ShipsText">Ships</h2>   
        <div class="right-side">
            <div>
                <div class="draggable square" id="square1" draggable="true"></div>
                <div class="draggable square" id="square2" draggable="true"></div>
                <div class="draggable square" id="square3" draggable="true"></div>
                <div class="draggable square" id="square4" draggable="true"></div>
            </div>
            <div>
                <div class="draggable rectangle-1x2" id="rectangle1" draggable="true"></div>
                <div class="draggable rectangle-1x2" id="rectangle2" draggable="true"></div>
                <div class="draggable rectangle-1x2" id="rectangle3" draggable="true"></div>
            </div>
            <div>
                <div class="draggable rectangle-3x1" id="rectangLong1" draggable="true"></div>
                <div class="draggable rectangle-3x1" id="rectangLong2" draggable="true"></div>
            </div>
        </div>
        <div>
        <button id="send">Send</button>
    </div>
    
     <!-- Overlay con la rotellina di caricamento -->
     <div id="loading-overlay">
        <div id="loading-content">
            <div class="loader"></div>
            <p>Waiting for an opponent</p>
        </div>
    </div>

    <script src="{% static 'game/scripts/gamePrep.js' %}"></script> 
</div>
</body>
</html>
