{% load static %}
<body>
        <div id="GiocoBack" style="background: url('{% static "game/images/PlayingBackGround.jpeg" %}') no-repeat center center fixed; background-size: contain;">
        <h2 id="turn_on" style="margin-bottom:2px; color:White"></h2>
        <div id="PlayingTables">
            <div class="aggiusta" style="margin-right:13%; margin-left:0%">
            <h2 align=center class="Names" id="playerName" >{{playerName}}</h2>
            <table id="myBoard" style="opacity:0.7">
                <tbody>
                    {% for i in '0123456789'|make_list %}
                    <tr>
                        {% for j in '0123456789'|make_list %}
                                <td id="A{{ i }}{{ j }}"></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="aggiusta2">
            <h2 align=center class="Names" id="playerName" >{{opponentName}}</h2>
            <table id="ClickableTable" style="opacity:0.7">
                <tbody>
                    {% for i in '0123456789'|make_list %}
                    <tr>
                        {% for j in '0123456789'|make_list %}
                            <td id="B{{ i }}{{ j }}"></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 
        <div>
    </div> 

    <div class="overlay" id="overlay"></div>

    <div class="youwin-container" id="youwin">
        <h1 id="youWinLost" align=center></h1>
        <h4 align=center>Reload the page to play!</h4>
    </div>
</body>
