{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10x10 Square Table</title>
    <link rel="stylesheet" href="{% static 'game/style/styleMainPage.css' %}">
</head>
<body>

    <table>
        <tbody>
            {% for i in '1234567890'|make_list %}
            <tr>
                {% for i in '1234567890'|make_list %}
                    <td></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
